---
import { Image } from 'astro:assets';
import qrImage from '../assets/qrcode.png';

---

<button class="btn btn-xs fixed bottom-4 left-1/2 -translate-x-1/4" onclick="my_modal_1.showModal()">
  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" fill="currentColor" class="w-8">
    <path d="M233.4 105.4c12.5-12.5 32.8-12.5 45.3 0l192 192c12.5 12.5 12.5 32.8 0 45.3s-32.8 12.5-45.3 0L256 173.3 86.6 342.6c-12.5 12.5-32.8 12.5-45.3 0s-12.5-32.8 0-45.3l192-192z"/>
  </svg>
</button>

<dialog id="my_modal_1" class="modal">
  <div class="w-full h-screen modal-box flex flex-col justify-center items-center">
    <h3 class="text-lg font-bold">Partage !</h3>
    <p class="py-4">Faites scanner ce qrcode pour partager la page</p>
    <div class="modal-action flex flex-col">
      <Image src={qrImage} alt="Qrcode" />
      <form method="dialog">
        <!-- if there is a button in form, it will close the modal -->
        <button class="btn">Fermer</button>
      </form>
    </div>
  </div>
</dialog>
