---
import globalDatas from './infos.json'

---

<!doctype html>
<html lang="fr_BE">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro Basics</title>
	</head>
	<body class="bg-base-300">
    <div class="w-screen min-h-screen p-4 overflow-hidden flex flex-col justify center">
		  <slot />
    </div>
	</body>
</html>

